In [1]:
import pandas as pd
import numpy as np
import pandas.io.sql as pdsql

In [28]:
import json
import psycopg2

# connect to the PostgreSQL server
conn = psycopg2.connect(host="imt575group4.cdzfpivjhvbj.us-east-1.rds.amazonaws.com", database="imt575", user="amir", password="pleasework123")

cur = conn.cursor()
#cur.execute("SELECT * FROM neighborhood_center;")

### Read in Businesses Table

In [ ]:
bus = pd.read_sql("SELECT * FROM business", conn)
bus.shape

In [3]:
bus = pd.read_sql("SELECT * FROM business WHERE city LIKE '%Las%Vegas%'", conn)

In [4]:
bus.shape

(30430, 15)

In [5]:
high_level_cat = {
'Active Life' :'active',
'Arts & Entertainment' :'arts',
'Automotive': 'auto',
'Beauty & Spas': 'beautysvc',
'Education' :'education',
'Event Planning & Services' :'eventservices',
'Financial Services' :'financialservices',
'Food' : 'restaurants', #food
'Health & Medical' :'health',
'Home Services' :'homeservices',
'Hotels & Travel' :'hotelstravel',
'Local Flavor' :'localflavor',
'Local Services' :'localservices',
'Mass Media' :'massmedia',
'Nightlife' :'nightlife',
'Pets' :'pets',
'Professional Services' : 'professional',
'Public Services & Government' : 'publicservicesgovt',
'Real Estate' :'realestate',
'Religious Organizations' :'religiousorgs',
'Restaurants' :'restaurants',
'Shopping' :'shopping'
}

In [6]:
def filter_category(list_cat):
    #print(list_cat)
    new_cat = ''
    for k,v in high_level_cat.items():
        if k in list_cat and v not in new_cat:
            if new_cat != '':
                new_cat=new_cat+','+v
            else:
                new_cat=new_cat+v
    return new_cat

In [ ]:
bus.categories.fillna('None', inplace = True)

In [7]:
bus['category'] = bus.categories.apply(filter_category)

In [ ]:
bus[['category', 'categories']].head(10)

In [8]:
df = bus[['category','neighborhood']]

In [ ]:
df.neighborhood.value_counts(dropna=False)

In [ ]:
df.head()

In [ ]:
df.head(15)

### Implement Gini

In [9]:
def gini(list_of_values):
    sorted_list = sorted(list_of_values)
    height, area = 0, 0
    for value in sorted_list:
        height += value
        area += height - value / 2.
    fair_area = height * len(list_of_values) / 2.
    return 1 - ((fair_area - area) / fair_area)

In [10]:
A = [3,3,3]
B = [5,5,5]
print(gini(A))
print(gini(B))

1.0
1.0

In [ ]:
df.neighborhood.value_counts()

In [12]:
nbd_cats = {}
for row in range(df.shape[0]):
    nbd = df.iloc[row,1]
    cats = df.iloc[row,0].split(',')
    if nbd in nbd_cats:
        for cat in cats:
            if cat in nbd_cats[nbd]:
                nbd_cats[nbd][cat] += 1
            else:
                nbd_cats[nbd][cat] = 1
    else: # new nbd
        for cat in cats:
            nbd_cats[nbd] = {cat: 1}
for nbd in nbd_cats:
    print(nbd, gini(nbd_cats[nbd].values()))#nbd_cats[nbd])

Downtown 0.5007460973370064
The Strip 0.3765730732722986
Spring Valley 0.45045196599600745
Southeast 0.48377352328856593
Westside 0.4665546636799204
Eastside 0.4706078379098907
South Summerlin 0.4787347155768208
Southwest 0.46824599587030524
Sunrise 0.45685740236148953
Chinatown 0.4418616690826258
Centennial 0.44588045234248785
Northwest 0.444604806538449
Summerlin 0.44877883310719136
Anthem 0.5016299918500408
University 0.47526881720430103
The Lakes 0.48349687778768957
North Valley 1.0

In [18]:
## Compute gini values for each nbd
nbd_gini = {nbd:gini(nbd_cats[nbd].values()) for nbd in nbd_cats}
nbd_gini
for k,v in nbd_gini.items():
    print(k,v)

Downtown 0.5007460973370064
The Strip 0.3765730732722986
Spring Valley 0.45045196599600745
Southeast 0.48377352328856593
Westside 0.4665546636799204
Eastside 0.4706078379098907
South Summerlin 0.4787347155768208
Southwest 0.46824599587030524
Sunrise 0.45685740236148953
Chinatown 0.4418616690826258
Centennial 0.44588045234248785
Northwest 0.444604806538449
Summerlin 0.44877883310719136
Anthem 0.5016299918500408
University 0.47526881720430103
The Lakes 0.48349687778768957
North Valley 1.0

In [22]:
print('UPDATE neighborhood_center SET gini_index=%.4f WHERE neighborhood = %s'%(12.123456, 'HIHIHI'))

UPDATE neighborhood_center SET gini_index=12.1235 WHERE neighborhood = HIHIHI

In [ ]:
cur = conn.cursor()

In [36]:
weekdays = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
hours = list(range(24))
items = ["\""+ wk +'-' +str(hr)+"\"" for wk in weekdays for hr in hours]
' + '.join(items)

'"Mon-0" + "Mon-1" + "Mon-2" + "Mon-3" + "Mon-4" + "Mon-5" + "Mon-6" + "Mon-7" + "Mon-8" + "Mon-9" + "Mon-10" + "Mon-11" + "Mon-12" + "Mon-13" + "Mon-14" + "Mon-15" + "Mon-16" + "Mon-17" + "Mon-18" + "Mon-19" + "Mon-20" + "Mon-21" + "Mon-22" + "Mon-23" + "Tue-0" + "Tue-1" + "Tue-2" + "Tue-3" + "Tue-4" + "Tue-5" + "Tue-6" + "Tue-7" + "Tue-8" + "Tue-9" + "Tue-10" + "Tue-11" + "Tue-12" + "Tue-13" + "Tue-14" + "Tue-15" + "Tue-16" + "Tue-17" + "Tue-18" + "Tue-19" + "Tue-20" + "Tue-21" + "Tue-22" + "Tue-23" + "Wed-0" + "Wed-1" + "Wed-2" + "Wed-3" + "Wed-4" + "Wed-5" + "Wed-6" + "Wed-7" + "Wed-8" + "Wed-9" + "Wed-10" + "Wed-11" + "Wed-12" + "Wed-13" + "Wed-14" + "Wed-15" + "Wed-16" + "Wed-17" + "Wed-18" + "Wed-19" + "Wed-20" + "Wed-21" + "Wed-22" + "Wed-23" + "Thu-0" + "Thu-1" + "Thu-2" + "Thu-3" + "Thu-4" + "Thu-5" + "Thu-6" + "Thu-7" + "Thu-8" + "Thu-9" + "Thu-10" + "Thu-11" + "Thu-12" + "Thu-13" + "Thu-14" + "Thu-15" + "Thu-16" + "Thu-17" + "Thu-18" + "Thu-19" + "Thu-20" + "Thu-21" + "Thu-22" + "Thu-23" + "Fri-0" + "Fri-1" + "Fri-2" + "Fri-3" + "Fri-4" + "Fri-5" + "Fri-6" + "Fri-7" + "Fri-8" + "Fri-9" + "Fri-10" + "Fri-11" + "Fri-12" + "Fri-13" + "Fri-14" + "Fri-15" + "Fri-16" + "Fri-17" + "Fri-18" + "Fri-19" + "Fri-20" + "Fri-21" + "Fri-22" + "Fri-23" + "Sat-0" + "Sat-1" + "Sat-2" + "Sat-3" + "Sat-4" + "Sat-5" + "Sat-6" + "Sat-7" + "Sat-8" + "Sat-9" + "Sat-10" + "Sat-11" + "Sat-12" + "Sat-13" + "Sat-14" + "Sat-15" + "Sat-16" + "Sat-17" + "Sat-18" + "Sat-19" + "Sat-20" + "Sat-21" + "Sat-22" + "Sat-23" + "Sun-0" + "Sun-1" + "Sun-2" + "Sun-3" + "Sun-4" + "Sun-5" + "Sun-6" + "Sun-7" + "Sun-8" + "Sun-9" + "Sun-10" + "Sun-11" + "Sun-12" + "Sun-13" + "Sun-14" + "Sun-15" + "Sun-16" + "Sun-17" + "Sun-18" + "Sun-19" + "Sun-20" + "Sun-21" + "Sun-22" + "Sun-23"'

### Update neighborhood_center table with gini indexes

In [29]:
for neighborhood, gini_index in nbd_gini.items():
    cur.execute("UPDATE neighborhood_center SET gini_index=%.4f WHERE neighborhood = '%s'"%(gini_index, neighborhood))
    conn.commit()

In [30]:
for row in cur.execute("SELECT * FROM neighborhood_center"):
    print(row)

TypeError: 'NoneType' object is not iterable

### Add Gini Values for Restaurants to CSV (then add to Neighborhood_Center Table)

In [ ]:
# New dataframe
nbd_gini_df = pd.DataFrame({'neighborhood':[], 'gini':[]})
#nbd_gini_df.append(pd.Series(['A', 123]), ignore_index=True)

In [ ]:
# New dataframe
nbd_gini_df = pd.DataFrame({'neighborhood':[], 'gini':[]})

nbd_cats = {}
for row in range(df.shape[0]):
    nbd = df.iloc[row,1]
    cats = df.iloc[row,0].split(',')
    if nbd in nbd_cats:
        for cat in cats:
            if cat in nbd_cats[nbd]:
                nbd_cats[nbd][cat] += 1
            else:
                nbd_cats[nbd][cat] = 1
    else: # new nbd
        for cat in cats:
            nbd_cats[nbd] = {cat: 1}
for nbd in nbd_cats:
    print(nbd, gini(nbd_cats[nbd].values()))
    nbd_gini_df

In [ ]:
print(nbd_cats['Anthem'])
print('\n'*3)
print(nbd_cats['The Strip'])

In [ ]:
nbd_cats_copy = nbd_cats.copy()
nbd_cats_copy['The Strip'].pop('restaurants')
nbd_cats_copy['Anthem'].pop('restaurants')

for nbd in ['The Strip', 'Anthem']:
    print(nbd, gini(nbd_cats_copy[nbd].values()))

In [ ]:
[len(nbd_cats[nbd]) for nbd in nbd_cats]

In [ ]:
df.neighborhood.unique()

In [ ]:
dict1 = {'Summerlin':0, 'Westside':0, 'Centennial':0, 'Southwest':0,
       'Chinatown':0, 'Sunrise':0, 'Eastside':0, 'Spring Valley':0, 'Southeast':0,
       'Northwest':0, 'Anthem':0, 'The Strip':0, 'Downtown':0, 'South Summerlin':0,
       'The Lakes':0, 'University':0, 'North Valley':0}
x = set()
for i in range(0,in df.shape[0]):
    if df.neighborhood.iloc[i] not 'None':
        x.add(df.category.iloc[i])

In [ ]:
df.neighborhood.shape[0]

In [ ]:
restaurant = df[df['category']=='restaurants']

In [ ]:
restaurant.head()

In [ ]:
vegas.drop(['categories'], axis=1, inplace = True)

In [ ]:
df_rest = vegas[vegas.category == 'restaurants']

In [ ]:
df_rest.shape

In [ ]:
vegas.head()

In [ ]:
vegas.shape

In [ ]:
vegas.columns

In [ ]:
vegas.attributes_WheelchairAccessible.value_counts(dropna=False)

In [ ]:
my_dict = "{'parking':False}"
vegas.attributes_BusinessParking = vegas.attributes_BusinessParking.fillna(my_dict)

In [ ]:
vegas.attributes_BusinessParking.head(10)

In [ ]:
import ast
#ast.literal_eval

In [ ]:
vegas['Parking'] = 'False'

In [ ]:
type(vegas.Parking.iloc[0])

In [ ]:
def attr_func(i):
    print(i)
    i = ast.literal_eval(i)
    for k,v in i.items():
        if v== True:
            return True
    else:
        return False

In [ ]:
vegas['Parking'] = vegas['attributes_BusinessParking'].apply(attr_func)

In [ ]:
vegas['Parking']

In [ ]:
vegas.attributes_RestaurantsAttire

In [ ]:
vegas.columns

In [ ]:
vegas.attributes_AcceptsInsurance.value_counts(dropna=False)

In [ ]:
vegas.attributes_AgesAllowed.value_counts(dropna=False)

In [ ]:
vegas.attributes_Alcohol.value_counts(dropna=False)

In [ ]:
vegas.attributes_BYOB.value_counts(dropna=False)

In [ ]:
vegas.attributes_BusinessAcceptsCreditCards.value_counts(dropna=False)

In [ ]:
vegas['credit_card'] = vegas.attributes_BusinessAcceptsCreditCards

In [ ]:
vegas.drop(['attributes_BusinessAcceptsCreditCards','attributes_BusinessParking'],axis=1,inplace=True)

In [ ]:
vegas.columns

In [ ]:
vegas.attributes_DogsAllowed.value_counts(dropna=False)

In [ ]:
vegas.attributes_DogsAllowed.fillna('NA',inplace=True)

In [ ]:
vegas.attributes_DogsAllowed.value_counts(dropna=False)

In [ ]:
nulls = pd.DataFrame(vegas.isnull().sum())

In [ ]:
nulls.to_csv('nulls')

In [ ]:
nulls.to_excel()

In [ ]:
vegas.columns

In [ ]:
a = ['attributes_BusinessAcceptsBitcoin','attributes_BestNights','attributes_AcceptsInsurance','']

In [ ]:
vegas.drop(a,axis=1,inplace=True)

In [ ]:
vegas.columns

In [ ]:
df_sum = pd.DataFrame(df_rest.isnull().sum(), columns = ['missing_count'])
df_sum.sort_values(by='missing_count')
#df_sum.to_csv('data/rest_missing_data.csv')

In [ ]:
vegas.category.hist()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.show()

In [ ]:
vegas.groupby(['neighborhood'])['category'].count().sort_values()

In [ ]:
df_rest.groupby(['neighborhood'])['category'].count().sort_values()

In [ ]:
vegas.groupby(['neighborhood'])['business_id'].count().sort_values()

In [ ]:
df_rest.attributes_RestaurantsPriceRange2.value_counts(dropna=False)

In [ ]:
df_rest.attributes_GoodForKids.value_counts(dropna=False)

In [ ]:
df_rest.attributes_RestaurantsReservations.value_counts(dropna=False)